* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles (General Module, wrapping around the modules bellow)
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'sans-serif';
}


/* Header styles (Main Module)
    (all the styles inside the < header > or < nav > tags)
*/

.header-container {
    background-color: lightyellow;
}

.header-container .logo-container {
    text-align: left;
}

.header-container .input-boxes {
    margin-top: 2rem;
    margin-bottom: 2rem;
    vertical-align: bottom;
    text-align: center;
}

.header-container .input-form,
.header-container .dropdown {
    border-radius: 5px;
    border: 3px solid mediumseagreen;
    text-align: center;
}

.header-container #addItemValue {
    background-color: white;
    color: black;
}

.header-container .shopping-list-logo {
    text-align: right;
}

.header-container h4 {
    color: mediumseagreen;
    text-transform: uppercase;
    display: block;
}

.header-container img {
    display: block;
}


/* Content styles (Main Module)(all the styles inside the < sections > or < aside > tags)
*/

.list-column-container {
    background-color: mediumseagreen;
}

.list-column-row {
    height: 26rem;
}

.list-column {
    height: 26rem;
    text-align: left;
    color: white;
    border: 1px solid darkgreen;
}

.list-column h5 {
    font-size: 18px;
    color: darkgreen;
}

.list-column li {
    list-style-type: none;
    text-align: left;
    color: white;
}

.checked {
    text-decoration: line-through;
    color: red !important;
}

.list-column-container .delete {
    float: right;
    padding-left: 10px;
    color: red;
    background-color: transparent;
}

.list-column-container .checkbox {
    float: right;
    background-color: white;
    color: white;
}


/*styles for footer*/

.delete-all {
    margin-top: .5rem;
    padding: .5rem 3rem;
    border-radius: 5px;
    background-color: red;
    color: white;
}


/* Is the stuff below not necesary because of bootstrap?*/
