/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* CSS reset
    (all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* General styles (General Module, wrapping around the modules bellow)
    (the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: 'sans-serif';
}


/* Header styles (Main Module)
    (all the styles inside the < header > or < nav > tags)
*/

.header-container {
    height: 10rem;
    background-color: lightyellow;
}

.header-container .input-form,
.header-container .dropdown {
    border-radius: 5px;
    border: 3px solid darkgreen;
}

.header-container #addItemValue {
    background-color: white color: darkgreen;
}

.header-container .shopping-list-logo {
    text-align: right;
}

.header-container h4 {
    color: darkgreen;
    text-transform: uppercase;
}


/* Content styles (Main Module)(all the styles inside the < sections > or < aside > tags)
*/

.list-column-container {
    background-color: mediumseagreen;
}

.list-column-row {
    height: 26rem;
}

.list-column {
    height: 25rem;
    text-align: left;
    color: white;
    border: 1px solid darkblue;
}

.list-column h5 {
    font-size: 18px;
    color: darkgreen;
}

.list-column li {
    list-style-type: none;
    text-align: left;
    color: white;
}

.checked {
    text-decoration: line-through;
    color: red !important;
}

.list-column .delete {
    float: right;
    padding-left: 8px;
    color: red;
    background-color: transparent;
}

.list-column .checkbox {
    float: right;
    background-color: white;
    color: white;
}


/*styles for footer*/

.delete-all {
    margin-top: .3rem;
    margin-right: 4rem;
    float: right;
    padding: .5rem 3rem;
    border-radius: 5px;
    background-color: red;
    color: white;
}


/* Is the stuff below not necesary because of bootstrap?*/
